*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body_container{
    width: 700px;
    height: 600px;
    padding: 6rem 9rem;
    margin-left: 700px;
    z-index: 1;
    position: absolute;
    top: 0;
}

.input_container{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border: 1px solid #afafaf;
    border-radius: 4px;
}

.row{
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    line-height: 0.6rem;
    justify-content: space-between;
}

.row input{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: end;
    justify-content: space-around;
}

.button button{
    width: 110px;
    height: 34px;
    font-size: 16px;
    border: 1px solid #afafaf;
    border-radius: 4px;
    cursor: pointer;
}

.button button:hover{
    background-color: #dbdada;
}