*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.container_left{
    flex:1;
}

.container_left img{
    width:  100%;
    height: 98%;
}

.container_right{
    flex:1;
    display: flex;
    padding: 4rem 0;
    background-color: #f8f8f8;
}
